# envs
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.cache

# OS and editor files
.DS_Store
*/**.DS_Store
._*
.*.sw*
*~

# terraform
.terraform
